<h1>Events</h1>
{{#md-list}}
    {{#each model as |event|}}
        {{#md-list-item}}
	        {{#event-post 
				source_image=event.source_image
				title=event.title
				user_path=event.user_path
				tags=event.tags}}
			{{/event-post}}
        {{/md-list-item}}
    {{/each}}
{{/md-list}}
